body {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #E4E4E4;
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}